<div class="row">
  <div class="shadow-lg col-sm-4 p-3">
    <div class="card">
      <img class="card-img-top properties-image-dafault" src="assets/images/house_default.png" alt="Houzze Imóveis">
      <div class="card-body p-2">
        <h4 class="card-title">{{Property.Transaction}} {{Property.Type}}</h4>
        <h2>R${{Property.Price}},00</h2>
        <p class="card-text">{{Property.Description}}</p>
        <hr>
        <a href="#" class="btn btn-primary">Detalhes</a>
      </div>
    </div>
  </div>
</div>

